// default light version color code
:root {
    --dark-color: 		#181717;
    --white-color: 		#ffffff;

    --font-555: 		#555555;
    --font-ccc: 		#cccccc;
    --font-eee: 		#eeeeee;
    
	--font-color: 		#626569;
	--text-muted: 		#9A9A9A;

	--border-color:		#F5F5F5;
	--card-color: 		#ffffff;
	--body-color: 		#ffffff;
	--box-shadow: 		#c7c1c1;
	--sidebar-bg:	    #F3F7FA;
}
// dark version color code
[data-theme="dark"] {
    --dark-color: 		#ebebeb;
    --white-color: 		#181717;
    
    --font-555: 		#868686;
    --font-ccc: 		#cccccc;
    --font-eee: 		#202225;
    
    --font-color: 		#838588;
	--text-muted: 		#66686b;

	--border-color:		#1d1d1d;
	--card-color: 		#171717;
	--body-color: 		#0c0c0c;
    --box-shadow: 		#484c52;
    --sidebar-bg:	    #1d1d1d;
}

// ThemeColor variable
[class="theme-indigo"] {
	--primary-color: 	#4539CF;
    --secondary-color: 	#FFBB5B;
    
	--primary-gradient: linear-gradient(45deg, #4539CF, #FFBB5B);
}

[class="theme-cyan"] {
	--primary-color: 	#29a19c;
    --secondary-color: 	#4c85c1;
    
	--primary-gradient: linear-gradient(45deg, #29a19c, #4c85c1);
}
[class="theme-green"] {
	--primary-color: 	#7fce28;
    --secondary-color: 	#3e44e9;
    
	--primary-gradient: linear-gradient(45deg, #7fce28, #3e44e9);
}
[class="theme-blush"] {
	--primary-color: 	#f84d84;
    --secondary-color: 	#7b58bd;
    
	--primary-gradient: linear-gradient(45deg, #f84d84, #7b58bd);
}