/* General Styles */
body{
    @include transition(all .3s ease-in-out);
    background-color: var(--body-color);
    color: var(--font-color);
	font-family: $font-family;
    font-size: $font-size;
}

.theme-indigo{
    .brand svg path{
        fill: var(--primary-color);
    }
}
.theme-cyan{
    .brand svg path{
        fill: var(--primary-color);
    }
}
.theme-green{
    .brand svg path{
        fill: var(--primary-color);
    }
}
.theme-blush{
    .brand svg path{
        fill: var(--primary-color);
    }
}

.text-primary{
    color: var(--primary-color) !important;
}
.bg-primary{
    background-color: var(--primary-color) !important;
}

.font-18{
    font-size: 18px;
}
.font-22{
    font-size: 22px;
}

@include max-screen($break-small - 1px){
    .hidden-xs{
		display: none !important;
	}
}
@include max-screen($break-medium){
    .hidden-sm{
		display: none !important;
	}
}
@include max-screen($break-1024){
    .hidden-md{
		display: none !important;
	}
}