// main menu sidebar list
.chat-list{
    list-style: none;
    padding: 0;

    li{
        position: relative;
        margin-bottom: 10px;

        .status{
            position: absolute;
            width: 8px;
            height: 8px;
            border: 1px solid var(--card-color);
        }
        .hover_action{
            @include transition(all .2s ease-in-out);
            background: var(--card-color);
            position: absolute;
            visibility: hidden;
            z-index: 99;
            right: 11px;
            top: 8px;
            .btn{
                border: 0;
                padding: 4px 8px;
            }
        }
        img.avatar{
            filter: grayscale(1);
        }

        &:hover{
            .hover_action{
                visibility: visible;
            }
            a.card{
                border-color: var(--primary-color);
                text-decoration: none;
            }
            img.avatar{
                filter: none;
            }
        }

        &.header{
            color: var(--font-888);
            text-transform: uppercase;
            font-size: 12px;
            .dropdown-item{
                font-size: 14px;
            }
        }
        &.active{
            a{
                border-color: var(--primary-color);
            }
        }
        &.away{
            .status{
                background-color: $color-warning;
            }
        }
        &.online{
            .status{
                background-color: $color-success;
            }
        }
        &.busy{
            .status{
                background-color: $color-danger;
            }
        }
    }

    .card{
        @include transition(all .2s ease-in-out);
        color: var(--font-888);
        border-color: var(--border-color);

        .card-body{
            padding: 15px;
        }
    }
}

.card-user-avatar{
    position: relative;
    width: 140px;
    margin: 0 auto;
    
    img{
        border-radius: 35px;
    }
    .btn{
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50px;
        width: 26px;
        height: 26px;
        border: 1px solid var(--card-color) !important;
        text-align: center;
        line-height: 18px;
        font-size: 14px;
    }
}

.social .icon{
    font-size: 22px;
    color: var(--primary-color);
}