
// Fonts
$font-family: 			'Nunito', sans-serif;
$font-size: 			14px;

$amethyst:				#7952b3 !default;
$timber: 				#ff6699 !default;
$red: 					#E15858 !default;
$purple: 				#AA55AA !default;
$orange: 				#ff7321 !default;
$greens: 				#2DDDB3 !default;
$blue: 					#0d6dce !default;
$blush: 				#E72582 !default;
$pink: 					#f66d9b !default;
$indigo:				#4539CF !default;
$azura:					#007FFF !default;
$cyan: 					#24d4c6 !default;
$info: 					#3C89DA !default;
$white:					#FFFFFF !default;
$dark:			 		#181717 !default;

// Bootstrap colors
$color-primary: 		#00bcd2;
$color-accent: 			#5c8ed4;
$color-info: 			#3C89DA;
$color-success: 		#5CB85C;
$color-warning: 		#F0AD4E;
$color-danger: 			#D9534F;
$color-muted: 			#9A9A9A;
$color-default-dark: 	#acb5c1;


// Breakpoints
$break-xsmall: 			640px;
$break-small: 			768px;
$break-medium: 			992px;
$break-1024: 			1024px;
$break-large: 			1200px;
$break-1280: 			1280px;
$break-xlarge: 			1440px;
$break-xxlarge: 		1600px;